.btn{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 90px;
  font-family: $wt-family-base;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  &:hover{
    cursor: pointer;
  }
  &__secondary{
    $color: $btn_secondary_font-color;
    padding: 5px 16px;
    font-size: 12px;
    color: $color;
    background: $white;
    border: none;
    border: 1px solid $color;
    &:hover{
      background: $color;
      color: $white;
    }
    &:disabled{
      background: $white;
      border-color: lighten($color, 20%);
      color: lighten($color, 20%);
    }
  }
  &__primary{
    $color: $btn_default-color;
    color: $white;
    background: $color;
    border: none;
    padding: 5px 16px;
    font-size: 12px;
    &:hover{
      background: $btn_hover-color;
    }
    &:disabled{
      background-color: lighten($color, 20%);
    }
  }
  &__main{
    $color: $btn_default-color;
    color: $white;
    background: $color;
    border: none;
    padding: 10px 24px;
    font-size: 14px;
    &:hover{
      background: $btn_hover-color;
    }
    &:disabled{
      background-color: lighten($color, 20%);
    }
  }
}
//==
//== Example how to use
//== ======================================= ==//
    /* <button class="btn btn__main"><Icon box="0 0 14 11" icon-name="ok" width="14" height="11"><Ok/></Icon>Войти</button>
    <button class="btn btn__secondary"><Icon box="0 0 6 12" icon-name="back" width="6" height="12"><Back/></Icon>Назад</button>
    <button class="btn btn__primary"><Icon box="0 0 6 12" icon-name="back" width="6" height="12"><Back/></Icon>Назад</button>

    <button disabled class="btn btn__main"><Icon box="0 0 14 11" icon-name="ok" width="14" height="11"><Ok/></Icon>Войти</button>
    <button disabled class="btn btn__secondary"><Icon box="0 0 6 12" icon-name="back" width="6" height="12"><Back/></Icon>Назад</button>
    <button disabled class="btn btn__primary"><Icon box="0 0 6 12" icon-name="back" width="6" height="12"><Back/></Icon>Назад</button> */